body {
    text-align: center;
}
#location {
    border: 1px solid #708090;
    background-color: #708090;
    color: #D3D3D3;
    border-radius: 10px;
}
#drop-area {
    text-align: center;
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 400px;
    font-family: sans-serif;
    margin: 50px auto;
    padding: 1em;
}
#drop-area.highlight {
    border-color: purple;
}
p {
    margin-top: 0;
}
.my-form {
    margin-bottom: 10px;
}
#gallery {
    margin-top: 10px;
}
#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button:hover {
    background: #ddd;
}
#fileElem {
   display: none;
}
p#warning {
    color: #aa0000;
}
table#results {
    margin: auto;
}
table#results, table#results td, table#results th {
    border: solid 1px #aaaaaa;
    border-collapse: collapse;
    padding: 0.5em 1em;
}
table#results tr.complete {
    color: #00aa00;
}
table#results tr.unvisited td.map, table#results tr.visited td.map {
    font-weight: bold;
}
table#results tr.inconsistent {
    font-weight: bold;
    color: #aa0000;
}
table#results tr[class='NOT FOUND'] {
    font-weight: bold;
    background: #ff8989;
}
table#results tr[class='FOUND'] {
    background: #a1fb8d;
}
table#results td.complete {
    font-weight: bold;
}
table#results tr.complete td.complete {
    background: #44aa44;
}
table#results td.visited {
    text-align: center;
}
table#results td.complete {
    text-align: center;
}
p#note {
    font-style: italic;
}

